{% extends "employee/base.html" %}
{% block content %}
    <div class="content-header d-flex justify-content-between align-items-center">
        <h2>Employees</h2>
        <a href="{% url 'add-employee' %}" class="btn btn-primary">Add Employee</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Department</th>
                <th>Contract Type</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td><a href="{% url 'detail-employee' employee.pk %}">{{ employee.first_name }}</a></td>
                    <td>{{ employee.last_name }}</td>
                    <td>{{ employee.department }}</td>
                    <td>{{ employee.contract_type }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}